@if(product()){

<!-- Card -->

<!-- Card -->
<div [routerLink]="['/dashboard/products/' + product()!.id]"
  class="bg-background mt-1.5 flex flex h-auto flex-1 rounded-lg p-8">
  <section class="flex flex-1 flex-col">
    <div class="text-muted-foreground flex items-center justify-between py-1.5 text-sm font-semibold">
      <span class="flex items-center gap-2">
        <!-- Brand Icon -->
        <svg-icon src="./assets/icons/product-details/brand.svg" [svgClass]="'h-4 w-4'"> </svg-icon>
        <small class="text-muted-foreground text-xs">Brand:</small> {{ product()!.brand | titlecase }}
      </span>
    </div>
    <div class="text-muted-foreground flex items-center justify-between py-1.5 text-sm font-semibold">
      <span class="flex items-center gap-2">
        <!-- Category Icon -->
        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
          class="text-slate-500">
          <path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z" />
        </svg>
        <small class="text-muted-foreground text-xs">Category:</small> {{ product()!.category | titlecase }}
      </span>
    </div>
    <div class="text-muted-foreground flex items-center justify-between py-1.5 text-sm font-semibold">
      <p class="flex items-center gap-2">
        <!-- Stock Icon -->
        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#18cd45"
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-trending-up-icon lucide-trending-up">
          <path d="M16 7h6v6" />
          <path d="m22 7-8.5 8.5-5-5L2 17" />
        </svg> -->
        <svg-icon src="./assets/icons/product-details/positive-stock.svg" [svgClass]="'h-4 w-4'"> </svg-icon>
        <small class="text-muted-foreground text-xs">Stock:</small> {{ product()!.stock }}
      </p>
    </div>
    <div class="text-muted-foreground flex items-center justify-between py-1.5 text-sm font-semibold">
      <span class="flex items-center gap-2">
        <!-- Rating Icon -->
        <svg-icon src="./assets/icons/product-details/rating.svg" [svgClass]="'h-4 w-4'"> </svg-icon>
        <small class="text-muted-foreground text-xs">Rating:</small>
        <span class="text-green-500">{{ product()!.rating }}</span>
      </span>
    </div>
  </section>

  <section class="flex flex-1 flex-col">
    <div class="text-muted-foreground flex items-center justify-between py-1.5 text-sm font-semibold">
      <p class="flex items-center gap-2">
        <!-- Availability Icon -->
        <svg-icon src="./assets/icons/product-details/availability.svg" [svgClass]="'h-4 w-4'"> </svg-icon>
        <small class="text-muted-foreground text-xs">Availability Status:</small>
        <span class="text-green-500">{{ product()!.availabilityStatus }}</span>
      </p>
    </div>
    <div class="text-muted-foreground flex items-center justify-between py-1.5 text-sm font-semibold">
      <p class="flex items-center gap-2">
        <!-- Warranty Icon -->
        <svg-icon src="./assets/icons/product-details/warranty.svg" [svgClass]="'h-4 w-4'"> </svg-icon>
        <small class="text-muted-foreground text-xs">Warranty:</small>
        <span class="text-green-500">{{ product()!.warrantyInformation }}</span>
      </p>
    </div>
    <div class="text-muted-foreground flex items-center justify-between py-1.5 text-sm font-semibold">
      <p class="flex items-center gap-2">
        <!-- Return Policy Icon -->
        <svg-icon src="./assets/icons/product-details/return-policy.svg" [svgClass]="'h-4 w-4'"> </svg-icon>
        <small class="text-muted-foreground text-xs">Return Policy:</small>
        <span class="text-green-500">{{ product()!.returnPolicy }}</span>
      </p>
    </div>
    <div class="text-muted-foreground flex items-center justify-between py-1.5 text-sm font-semibold">
      <p class="flex items-center gap-2">
        <svg-icon src="./assets/icons/product-details/shipping-policy.svg" [svgClass]="'h-4 w-4'"> </svg-icon>
        <small class="text-muted-foreground text-xs">Shipping Policy:</small>
        <span class="text-green-500">{{ product()!.shippingInformation }}</span>
      </p>
    </div>
  </section>
</div>

}

<!-- Buttons -->
<!-- <div class="mt-6 flex items-center justify-between">
        <button
            class="hover:bg-primary-600 flex-none rounded-md bg-primary px-4 py-2.5 text-xs font-semibold text-primary-foreground">
            Place a Bid
        </button>
        <button
            class="lex-none rounded-md bg-card px-4 py-2.5 text-xs font-semibold text-muted-foreground hover:bg-muted hover:text-foreground">
            View Item
        </button>
    </div> -->