<form #form="ngForm">

    <select [(ngModel)]="categoryOption" name="category" class="text-muted-foreground w-36! p-2 mr-1.5"
        (change)="onStatusChange($event)">
        <option value="">Category</option>
        @for (category of categoryOptions(); track $index) {
        <option [value]="category">{{category | titlecase}}</option>
        }
    </select>

    <select [(ngModel)]="detailsOption" name="productDetails" class="text-muted-foreground w-36! p-2"
        (change)="onProductDetailsChange($event)">
        <option value="">Product Details</option>
        @for (item of productDetailsOptions(); track item.title) {
        <option [value]="item.value">{{item.title | titlecase}}</option>

        }
    </select>


    
    <!-- <div class="w-36! p-2">
        <mat-chip-set aria-label="Fish selection">
            <mat-chip class="border">One fish</mat-chip>
            <mat-chip>Two fish</mat-chip>
            <mat-chip>Three fish</mat-chip>
            <mat-chip disabled>Four fish</mat-chip>
        </mat-chip-set>
    </div> -->

    <!-- <mat-select class="text-muted-foreground w-36! p-2"> -->
    <!-- panelClass="native-styled-panel" -->
    <!-- <div class="w-36">
        <mat-select class="text-muted-foreground p-2!">
            @for (food of productDetailsOptions(); track food) {
            <mat-option [value]="food.value">{{food.title}}</mat-option>
            }
        </mat-select>
    </div> -->


</form>