<form #form="ngForm">

    <select [disabled]="isCategoryDisabled()" 
    [class.disabled:text-gray-500!]="isCategoryDisabled()"
    [(ngModel)]="categoryModel" name="category" class="w-full mb-0.5 md:w-36! p-2 mr-1.5 cursor-pointer"
        (change)="onCategoryChange($event)">
        <option value="">Category</option>
        @for (category of categoryOptions(); track $index) {
        <option [value]="category">{{category | titlecase}}</option>
        }
    </select>

    <select [(ngModel)]="propertyModel" name="productProp" class="w-full mb-0.5 md:w-36! p-2 mr-1.5 cursor-pointer"
        (change)="onProductDetailsChange($event)">
        <option value="">Product Details</option>
        @for (item of productDetailsOptions(); track item.title) {
        <option [value]="item.value">{{item.title | titlecase}}</option>

        }
    </select>

    <select (change)="onOrderChange($event)" [(ngModel)]="orderModel" name="order" class="w-full mb-0.5 md:w-36! p-2 cursor-pointer">
        @for (item of orderOptions(); track item.title) {
        <option [value]="item.value">{{item.title | titlecase}}</option>

        }
    </select>




</form>