.disabled {
    pointer-events: none;
    color: #aaa;
    color: color-mix(in oklab, var(--color-muted-foreground)50%, transparent);
    cursor: not-allowed;
  }

  .save-num{
    position: absolute;
    top: 5px;
    font-size: xx-small;
  }