<div class="flex-col rounded-lg bg-background px-8 py-8 cursor-pointer">
  <div class="mb-4 flex flex-col md:flex-row items-start md:items-center xl:items-center gap-3">
    <div class="flex flex-col items-start justify-start">
      <!-- <h3 class="text-md font-bold text-foreground">High Rating Products</h3> -->
      <h3 class="text-md font-bold text-foreground text-sm flex items-center">
        <!-- @if(selectedOrder().value ==='desc'){
          <svg-icon class="text-green-500" src="assets/icons/heroicons/outline/arrow-sm-up.svg" [svgClass]="'h-4 w-4'"></svg-icon>
        }@else{
          <svg-icon class="text-red-500" src="assets/icons/heroicons/outline/arrow-sm-down.svg" [svgClass]="'h-4 w-4'"></svg-icon>
        } -->
        Products
        {{(productProperty() === 'discountPercentage') ? 'Discount' : productProperty() | titlecase}}
        @if(selectedOrder().value ==='desc'){
          <svg-icon class="text-green-500" src="assets/icons/heroicons/outline/arrow-sm-up.svg" [svgClass]="'h-4 w-4'"></svg-icon>
        }@else{
          <svg-icon class="text-red-500" src="assets/icons/heroicons/outline/arrow-sm-down.svg" [svgClass]="'h-4 w-4'"></svg-icon>
        }
      </h3>
      <!-- <span class="text-xs text-muted-foreground">Updated 35 minutes ago</span> -->
    </div>
    
    <button class="text-foreground" (click)="getSaved()">Get</button>

    <div class="flex flex-col w-full md:w-auto md:flex-1 md:justify-end">
      <div class="flex flex-wrap gap-2.5 justify-end md:justify-end w-full">
        <app-products-table-form
          class="w-full md:w-auto"
          [productProperty]="productProperty()"
          (onFilterChange)="filterChangeHandler($event)"
          [selectedCategory]="selectedCategory()"
          [selectedLastDefaultCategory]="selectedLastDefaultCategory()"
          [productDetailsOptions]="productDetailsOptions()"
          [isCategoryDisabled]="isCategoryDisabled()"
          [selectedOrder]="selectedOrder()"
          [orderOptions]="orderOptions()"
          [categoryOptions]="categoryOptions()"
        ></app-products-table-form>
      </div>
    </div>
  </div>


  <app-chips class="mb-4 flex flex-wrap items-center border-color-gray border-b-1"
    (onChipsSelected)="onChipsSelected($event)" [list]="selectedCategory()"></app-chips>


  <div class="relative overflow-x-auto">
    <table class="w-full table-auto">
      <!--Table head-->
      <thead class="text-xs uppercase text-muted-foreground">
        <tr>
          <th class="py-3 text-left">Item</th>
          <th class="py-3 text-right">Rating</th>
          <th class="py-3 text-right">Stock</th>
          <th class="py-3 text-right">Discount</th>
          <th class="py-3 text-right">Discount Price</th>
          <th class="py-3 text-right">View</th>
        </tr>
      </thead>
      <!--end Table head-->
      <!--Table body-->
      <tbody>
        <ng-container *ngIf="filteredProducts() && filteredProducts()?.length">
          <tr *ngFor="let product of filteredProducts()" [product]="product" nft-auctions-table-item
            class="border-b border-dashed border-border hover:bg-card"></tr>
        </ng-container>
      </tbody>
      <!--end::Table body-->
    </table>
  </div>
</div>