<div>
  <!-- Header -->
  <app-nft-header></app-nft-header>
  <!-- end Header -->


  <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4">

    <!-- Dual Card -->
    @if(isProductsExists()){
    <div nft-dual-card [product]="productsHighDiscount()![0]" class="md:col-span-2"></div>
    <!-- end Dual Card -->
    }

    <!-- Single Card -->
    <!-- <div nft-single-card [nft]="nft[1]"></div> -->
    <div nft-single-card [product]="productsHighDiscount()![1]"></div>
    <!-- end Single Card -->

    <!-- Single Card -->
    <div nft-single-card [product]="productsHighDiscount()![2]"></div>
    <!-- <div nft-single-card [nft]="nft[2]"></div> -->
    <!-- end Single Card -->

    <!-- Single Card -->
    <!-- <div nft-chart-card class="md:col-span-2 xl:col-span-1"></div> -->
    <!-- <div nft-chart-card class="md:col-span-2 xl:col-span-1"></div> -->

    <div class="md:col-span-2 xl:col-span-1" app-columns-chart></div>
    <!-- end Single Card -->



    <!-- Auctions Table -->

    <div nft-auctions-table [categoryOptions]="category()" [productDetailsOptions]="productDetailsOptions()"
      [filteredProducts]="filteredProducts()" [orderOptions]="orderOptions()" class="md:col-span-2 xl:col-span-3"></div>
  </div>
</div>