<div>
  <!-- Header -->
  <app-nft-header></app-nft-header>
  <!-- end Header -->


  <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4">

    <!-- Dual Card -->
    @if(isProductsExists()){
    <div nft-dual-card [product]="productsHighDiscount()![0]" class="md:col-span-2"></div>
    <!-- end Dual Card -->
    }

    <!-- Single Card -->
    <!-- <div nft-single-card [nft]="nft[1]"></div> -->
    <div nft-single-card [product]="productsHighDiscount()![1]"></div>
    <!-- end Single Card -->

    <!-- Single Card -->
    <div nft-single-card [product]="productsHighDiscount()![2]"></div>
    <!-- <div nft-single-card [nft]="nft[2]"></div> -->
    <!-- end Single Card -->

    <!-- Single Card -->
    <!-- <div nft-chart-card class="md:col-span-2 xl:col-span-1"></div> -->
    <!-- end Single Card -->

    <!-- <div class="w-48">
      <button class="flex-none rounded-md bg-primary px-4 py-2.5 text-xs 
    font-semibold text-primary-foreground" (click)="addCategory('beauty')">Get Category</button>
    </div> -->

    <!-- Auctions Table -->
     
    <div nft-auctions-table [categoryOptions]="category()" 
    [productDetailsOptions]="productDetailsOptions()"
    [filteredProducts]="filteredProducts()"
    [orderOptions]="orderOptions()"
      class="md:col-span-2 xl:col-span-4"></div>
  </div>
</div>